# Dependencies
node_modules/

# Build output
dist/

# Temporary files
*.vue.js

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
